.header {
    background: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    color: #272d45;
    font-size: 20px;
    padding: 25px;
    text-align: center;
}

.header h1{
    color: #8f9097;
    font-size: 16px;
}

.header h2{
    font-size: 20.256px;
}

.margin-small{
    margin-bottom: 8px;
}

.margin-medium{
    margin-bottom: 16px;
}
.margin-large{
    margin-bottom: 32px;
}

.MuiRating-icon.MuiRating-iconEmpty {
    color: #e8e8e8;
}

.MuiRating-icon, .MuiRating-iconEmpty {
    font-size: 35px;
}

span.MuiRating-iconActive{
    transform: none ;
}

.MuiRating-label {
    margin: 0 -2px;
}

@media only screen and (min-width: 360px){
    .main-container {
        width: 360px;
        margin: auto;
    }
}
@media only screen and (min-width: 480px){
    .main-container {
        width: 480px;
    }
}
@media only screen and (min-width: 768px){
    .main-container {
        width: 736px;
    }
}




.container{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    padding: 16px;
    overflow: hidden;
    text-align: left;
}

.stars{
    margin-top: 8px;
}

input[type=text].form-control, textarea.form-control{
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    font-size: .889rem;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 8px;
}

textarea.form-control{
    height: 150px;
}

input[type=text]::placeholder, textarea.form-control::placeholder{
    color: #c2c2c2;;
}


footer{
    margin: 92px auto 16px;
    text-align: center;
}

.btn.agree{
    background: #00ca9b;
    color: #ffffff;
    line-height: 3.3;
    padding: 0 24px;
    width: 100%;
    font-size: 20.256px;
}


.input-field{
    display: flex;
    flex-direction: column-reverse;
}

.radio-group input[type="radio"]{
    display: none;
}
  
.radio-group input[type="radio"]:checked+label{
    background-color: #00ca9b;
    border-color: #00ca9b;
    color: #fff;
}
  
.radioButtonLabel{
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
    border-radius: 4px 0 0 4px;
    min-width: 75px;
    padding: 8px 16px;
    margin-bottom: 0px;
    text-align: center;
    transition: background .2s ease;
}

.radioButtonLabel.no {
    border-radius: 0 4px 4px 0;
    margin-left: 1px;
}

.radioButtonLabel:hover {
    background: #c2c2c2;
    border-color: #c2c2c2;
}

.error, .empty-field{
    color: #ed5353;
}

input[type=text].form-control.empty-field, textarea.form-control.empty-field{
    border: 1px solid #ed5353;
}

input[type=text].form-control.empty-field+label, textarea.form-control.empty-field+label{
    color: #ed5353;
}

.terms a{
    color:#ac6666;
}

.terms a:hover, .terms a:active,.terms a:visited {
    color: #578f4f;
}
